@import '../../styles.scss';

ol {
    li {
        text-decoration: underline;
        width: fit-content;
        margin-bottom: 15px;
        margin-top: 15px;
        &:hover {
            cursor: pointer;
        }
    }
}

.content-wrapper {
    min-height: 95vh;
}

.question {
    font-family: 'Roboto-Bold';
}

.list {
    list-style: none;
    li {
        margin-bottom: 30px;

        @media screen and (max-width: 1000px) {
            font-size: 16px;
        }

        &:before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $accent-color; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }

    }

    ul {
        list-style: none;
    }
}

oL {
    li {
        @media screen and (max-width: 1000px) {
            font-size: 18px;
        }
    }
}

.top-margin {
    margin-top: 100px;
}