<div class="page-wrapper">
    <div class="blue-sidebar desktop">

    </div>
    <section class="with-bar">
        <div class="content-wrapper">

            
            <div class="page-title">
                <h1>FAQS</h1>
                <div class="line"></div>
            </div>

            <p>
                Confused about the notary Process? Not sure what you need or what needs to be notarized? Below are 
                some Frequently Asked Questions that can help you or you can always call us.
            </p>

            <ol>
                <li (click)="scroll(one)">
                    What is a California Notary Public? What is a Notary Signing Agent (NSA) or Loan Signing Agent (LSA)?
                </li>
                <li (click)="scroll(two)">
                    How much does a Mobile Notary Public Cost?
                </li>
                <li (click)="scroll(three)">
                    Why are documents notarized?
                </li>
                <li (click)="scroll(four)">
                    What is required for a document to be notarized?
                </li>
                <li (click)="scroll(five)">
                    What is the difference between Acknowledgment and Jurat?
                </li>
                <li (click)="scroll(six)">
                    May a California Notary Public give legal advice or draft legal documents?
                </li>
                <li (click)="scroll(seven)">
                    Does a notarization mean that a document is true or legal?
                </li>
                <li (click)="scroll(eight)">
                    Do I have to appear personally for notarization of my documents?
                </li>
                <li (click)="scroll(nine)">
                    Can a document that contain blanks be notarized?
                </li>
                <li (click)="scroll(ten)">
                    May a notary public refuse to serve a customer?
                </li>
                <li (click)="scroll(eleven)">
                    Can a California Notary Public serve as a witness and a Notary Public?
                </li>
            </ol>
        </div>
        <div class="titlebar">
            <h2></h2>
        </div>
        <div class="content-wrapper top-margin">

            <p #one class="question">1. What is a California Notary Public? What is a Notary Signing Agent (NSA) or Loan Signing Agent (LSA)?</p>
            <p>A notary Public is an official of integrity appointed by the state government to serve the public as an 
                impartial witness in performing a variety of official fraud-deterrent acts related to signing of important documents. These 
                official acts are called notarizations, or notarial acts.</p>

            <p>A Notary Signing Agent or Loan Signing Agent is a Notary who has been trained to handle loan documents. Lenders and title 
                companies Hire Signing Agents as independent contractors to assist in the last step of the loan process. Notary Signing Agents 
                are often asked to print loan documents, meet with signers and notarize their signatures, and quickly return the documents for 
                processing.</p>

            <p #two class="question">2. How much does a Mobile Notary Public Cost?</p>
            <p>Fees vary per assignment. Government Code section 8211 specifies the maximum fee that may be charged for notary public service in 
                California is $15.00 for each signature notarized. However, a notary public may decide to charge no fee or an amount that is less 
                than the maximum amount prescribed by law.  A notary public may also charge travel or appointment fees, in addition. Please contact 
                us for details.</p>

            <p #three class="question">3. Why are documents notarized?</p>
            <p>Notarization is the official fraud-deterrent process that assures parties of a transaction that a document is authentic, and can be 
                trusted. It is a three-part process, performed by a notary public,that includes vetting, certifying and record -keeping. Above all, 
                notarization is the assurance by a duly appointed and impartial Notary Public that a document is authentic, that its signature is 
                genuine, and that the singer acted without duress or intimidation, and intended the terms of the dument to be in full force and 
                effect.</p>

            <p #four class="question">4. What is required for a document to be notarized?</p>
            <p>For a document to be notarized it must contain:</p>
            <ul class="list">
                <li>
                    Text committing the signer in some way.
                </li>
                <li>
                    The original signature.
                </li>
                <li>
                    The notarial certificate which may appear on the document itself or as an attachment.
                </li>
                <ul>
                    <li>
                        The Notary fills in the certificate, signs it, then applies his or her seal to complete the notarization.
                    </li>
                </ul>
            </ul>

            <p #five class="question">5. What is the difference between Acknowledgment and Jurat?</p>
            <p>The purpose of an Acknowledgement is for a signer whose identity has been verified to declare to a Notary Public 
                that he or she has willingly signed a document. </p>

            <p>The purpose of a Jurat is for a signer to swear to or affirm the truthfulness of the contents of a document to a 
                Notary public.</p>

            <p #six class="question">6. May a California Notary Public give legal advice or draft legal documents?</p>
            <p>No. California Notary Publics are prohibited from performing any duties that may be construed as the practice of 
                law. Among the acts which constitute the practice of law are the preparation, drafting, or selection or determination 
                of the kind of legal documentation, or giving advice in relation to any legal documents or matters. If asked to 
                perform such a task, a California Notary Public should decline and refer the requester to an attorney.</p>

            <p #seven class="question">7. Does a notarization mean that a document is true or legal?</p>
            <p>No. A California notary public is not responsible for the accuracy or legality of the documents they notarize. 
                A California notary public can only certify the identity of the signers. It is the signers responsibility for the 
                context of the documents.</p>

            <p #eight class="question">8. Do I have to appear personally for notarization of my documents?</p>
            <p>Yes you must appear personally for the notarization of your documents. California law requires a person to appear 
                personally before a notary public to obtain notarial acts like acknowledgments or jurats. This means the party must 
                be physically present before the notary public. A video image or other form of non-physical representation is not a 
                personal appearance in front of a notary public under California State Law.</p>

            <p #nine class="question">9. Can a document that contain blanks be notarized?</p>
            <p>A notary public may not notarize a document that is incomplete. If presented with a document for notarization, which 
                the notary public knows from his or her experience to be incomplete or is without doubt on its face incomplete, the 
                notary public must refuse to notarize the document.</p>

            <p #ten class="question">10. May a notary public refuse to serve a customer?</p>
            <p>As a public official a notary public should not reuse a notarization based on personal feelings they may have about 
                the signers nationality, religion, race, age, lifestyle, gender, or disabilities. However, California notary publics 
                must refuse to notarize a document they know is incomplete or is unlawful to notarize.</p>

            <p #eleven class="question">11. Can a California notary public serve as a witness and a notary public?</p>
            <p>In the case where a document must be witnessed and notarized, the notary may serve as either a witness or as a notary, 
                but not both.</p>
        </div>
        <br>
        <div class="center">
            <button routerLink="/contact">Contact Us Today!</button>
        </div>
    </section>
</div>