<div class="page-wrapper">
   <div class="blue-sidebar desktop">

   </div>
   <section class="with-bar">
       <div class="ids">

        
            <div class="page-title">
                <h1>Acceptable Identifications</h1>
                <div class="line"></div>
            </div>
            <div>
                <p class="italic">When completing a certificate of acknowledgement or jurat, a notary public is required to certify to the 
                    identity of the signer of the document. (Civil Code section 1185(a), 1189, Government Code section 8202)</p>
                <ul>
                    <li>
                        Must be current or issued within the last 5 years.The following forms of identification must also contain 
                        a photograph, description of the person, signature of the person, and an identifying number. If you have a 
                        question if your ID will work please call us before your appointment to confirm.
                    </li>
                    <li>
                        An identification card or driver’s license issued by the California Department of Motor Vehicles.
                    </li>
                    <li>
                        A United States passport.
                    </li>
                    <li>
                        A valid consular identification document issued by a consulate from the applicant’s 
                        country of citizenship or a valid passport from the applicant's country of citizenship.
                    </li>
                    <li>
                        A driver's license issued by another state or by a Canadian or Mexican public 
                        authority authorized to issue driver’s licenses.
                    </li>
                    <li>
                        An identification card issued by another state.
                    </li>
                    <li>
                        A United States military identification card (current military identification cards might not contain all the 
                        required information).
                    </li>
                    <li>
                        An employee identification card issued by an agency or office of the State of California, or an agency or office 
                        of a city, county, or city and county in California.
                    </li>
                    <li>
                        An identification card issued by a federally recognized tribal government.
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="titlebar long-title-mod with-bar-title">
            <h2>What if you don't have a valid ID?</h2>
        </div>
        <div class="ids">
            <p class="italic center-text margin">No worries! We can still notarize your documents.</p>
            <p class="margin">In the case where a signer does not have the proper identification, the state of california allows the use of two (2) 
                “Credible Witnesses” whom the notary public does not personally know. (Civil Code section 1185(b) (2)).</p>
            <p class="margin">The two credible witnesses must first establish identity with the notary through proper identification listed above. 
                Under oath the credible witnesses must swear or affirm under penalty of perjury to each of the things sworn to or 
                affirmed that each of the following is true. (Civil Code section 1185 (b) (2) and 1185 (b)(1)(A)(i)-(v)).
            </p>
            <ul>
                <li>
                    The individual appearing before the notary public as the signer of the document is the person named in the document.
                </li>
                <li>
                    The credible witness personally knows the signer.
                </li>
                <li>
                    The credible witness reasonably believes that circumstances of the signer are such that it would be very difficult or 
                    impossible for the signer to obtain another form of identification.
                </li>
                <li>
                    The signer does not possess any of the identification documents authorized by law to establish the signer’s identity.
                </li>
                <li>
                    The credible witness does not have a financial interest and is not named in the document signed.
                </li>
            </ul>
            <p>Choose very neutral parties as witnesses. Friends, neighbors or work buddies are best. Depending upon the nature of the 
                transaction, a close family member may not qualify to be a credible witness.</p>
            <p>For all notarial acts including credible witnesses, the following details will need to be recorded in notaries journal.
            </p>
            <ul>
                <li>
                    The signature of each signer or credible witness.

                </li>
                <li>
                    Type of identification presented for each signer or credible witness.
                </li>
                <li>
                    Identification information included but not limited to Identification number, issue date, expiration date, and 
                    address for each signer or credible witness.
                </li>
            </ul>
            <br>
            <div class="center">
                <button>Contact Us Today!</button>
            </div>
            
        </div>
   </section>
</div>