<div class="page-wrapper">
    <div class="blue-sidebar desktop">

    </div>
    <section class="with-bar">
        <div class="content-wrapper">

            
            <div class="page-title">
                <h1>Loan Signings</h1>
                <div class="line"></div>
            </div>

            <p>
                The signing process is the most nervous part of the real estate process. As a NNA Certified Notary 
                Signing Agent (NSA) or Loan Signing Agent (LSA) we are specifically trained to facilitate real estate 
                loan transactions. These specialized California Notary Publics have extensive training and experience 
                in the execution of loan documents.
            </p>
            <p>
                The task of the NSA is vital to the successful closing and funding in a real estate transaction. Mortgage 
                lenders, title companies, escrow companies, and everyone involved in the real estate transaction rely 
                heavily on the competence of the NSA to complete the singing and notatarize portions of the real estate 
                loan documents in a professional, reliable, and accurate manner. 
            </p>
            <p>
                We walk borrowers through all the important documents including the closing statement, note, deed of trust,
                 and closing disclosures. We help make sure that all forms come back completely filled out, helping illuminate 
                 any funding conditions and frustrations through the closing process. 
            </p>
            <p>
                We walk borrowers through all the important documents including the closing statement, note, deed of trust, and 
                closing disclosures. We help make sure that all forms come back completely filled out, helping illuminate any funding 
                conditions and frustrations through the closing process. 
            </p>
            <div class="center">
                <button routerLink="/contact">Contact Us Today!</button>
            </div>
        </div>
    </section>
</div>
