<div class="nav-right visible-xs">
    <div class="button" [ngClass]="{'active' : isToggled === true}" id="btn" (click)="toggleSidebar(null)">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>


<nav class="sidebar-container" >
    <div class="nav-right hidden-xs">
        <div class="button" [ngClass]="{'active' : isToggled === true}" id="btn" (click)="toggleSidebar(null)">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
    </div>
    <div class="logo">
        <img src="../../assets/images/RMT Signing.png">
    </div>
    <ul [ngClass]="{'sidebar-list' : isToggled === true}">
        <li [ngClass]="{'sidebar-item' : isToggled === true}" routerLink="/home" routerLinkActive="active" (click)="toggleSidebar('off')">
            <a [ngClass]="{'sidebar-anchor' : isToggled === true}">
                Home
            </a>
        </li>
        <li [ngClass]="{'sidebar-item' : isToggled === true}" routerLink="/id-checklist" routerLinkActive="active" (click)="toggleSidebar('off')">
            <a [ngClass]="{'sidebar-anchor' : isToggled === true}">
                ID Checklist
            </a>
        </li>
        <li [ngClass]="{'sidebar-item' : isToggled === true}" routerLink="/loan-signings" routerLinkActive="active" (click)="toggleSidebar('off')">
            <a [ngClass]="{'sidebar-anchor' : isToggled === true}">
                Loan Signings
            </a>
        </li>
        <li [ngClass]="{'sidebar-item' : isToggled === true}" routerLink="/faqs" routerLinkActive="active" (click)="toggleSidebar('off')">
            <a [ngClass]="{'sidebar-anchor' : isToggled === true}">
                FAQS
            </a>
        </li>
        <li [ngClass]="{'sidebar-item' : isToggled === true}" routerLink="/contact" routerLinkActive="active" (click)="toggleSidebar('off')">
            <a [ngClass]="{'sidebar-anchor' : isToggled === true}">
                Contact Us
            </a>
        </li>
    </ul>
    <div class="contact-info">
        <p class="phone" name="phone">(619) 323-1574</p>
        <p class="email" name="email">scheduling@rmtsigning.com</p>
    </div>
</nav>
<main [ngClass]="{'move-to-left' : isToggled === true}">
    <router-outlet></router-outlet>


    <footer class="footer">
        <div class="footer-box1">
            <p>Disclaimer - We are not an attorney licensed to practice law in any state, and do not give legal advice or accept fees for legal advice 
                or legal services. We can not give any advice on preparation, draft, or selection of legal documents.</p>
            <br>
            <!-- <br> -->
            <p class="desktop">Designed and developed by Dev Dragon    </p><a class="italic" href="/sitemap.xml">Sitemap</a>
        </div>
        <div class="footer-box2">
            <div class="contact-box">
                <span class="material-icons">phone</span><p class="phone" name="phone">(619) 323-1574</p>
            </div>
            <br class="desktop">
            <div class="contact-box">
                <span class="material-icons">email</span><p class="email" name="email">scheduling@rmtsigning.com</p>
            </div>
            
        </div>
        <br class="mobile">
        <br class="mobile">
        <p class="mobile">Designed and developed by Dev Dragon</p>
    </footer>
</main>