/* You can add global styles to this file, and also import other style files */

// ******************************************************
// 
//  Global Variables
// 
// ******************************************************

// ******************************************************
// 
//  Colors
// 
// ******************************************************

$primary-color: #113A6E;
$accent-color: #FEA02F;
$light-color: #889DB7;

// ******************************************************
// 
//  Fonts
// 
// ******************************************************

@font-face {
    font-family: "Roboto";
    src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('../src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Light";
    src: url('../src/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url('../src/assets/fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url('../src/assets/fonts/Roboto/Roboto-MediumItalic.ttf');
}

$font: 'Roboto';
$medium-font: 'Roboto-Medium';
$font-medium-italic: 'Roboto-MediumItalic';
$bold-font: 'Roboto-Bold';
$font-light: "Roboto-Light";
$font-light-italic: "Roboto-LightItalic";

// ******************************************************
// 
//  Global Classes
// 
// ******************************************************

body {
    margin: 0;
}

p {
    font-family: "Roboto";
    color: $primary-color
}

.page-wrapper {
    margin-left: 300px;

    @media screen and (max-width: 1000px) {
        margin-left: 0px;
    }
}
