<div class="page-wrapper">
    <header>
        <img src="../../assets/images/RMT Signing.png">
        <div class="blue-bar">
            <h1>San Diego Notary Services</h1>
        </div>
        <div class="cta">
            <button routerLink="/contact">Call or Text Today!</button>
        </div>
        
    </header>

    <section class="about">
        <div class="text-wrapper">
            <p>At RMT Signing we provide consistent, reliable, and professional notary services. We believe that our clients deserve 
            nothing but our best in everything we do. At RMT Signing we welcome our clients to engage with us and ask us questions 
            pertaining to their appointment. We are private however, as it relates to the inner workings of our client database, 
            and we safeguard our clients information heavily. As Notaries and Loan Signing Agents, we safeguard our journals, and 
            clients' information, never allowing individuals to access your personal or private information that we put in them. 
            You can place your trust in RMT Signing.</p>
        </div>

        <div class="icon-wrapper">
            <div class="icon-box">
                <span class="material-icons">today</span>
                <p>As professional mobile notaries we help to make your life easier. Make your appointment today. 
                    Same day appointments available 24/7.</p>
            </div>
            <div class="icon-box">
                <span class="material-icons">card_travel</span>
                <p>Short notice, last minute and emergency notarizations are welcome. No job is too big or too small.</p>
            </div>
        </div>
        
    </section>

    <div class="titlebar-inverted">
        <h2>Our Agents</h2>
    </div>
    <section class="team">

        <!-- Ryan -->
        
        <div class="agent-box">
            <div class="text-wrapper desktop">
                <p>As a San Diego native Ryan likes to spend time by the water. He loves sailing and wakeboarding. Ryan is an avid traveler. 
                    He loves exploring new places and seeing the world. As an aspiring Architect Ryan is attending school full time.
                    When he is not keeping busy with work you can find him enjoying coffee and playing with his dogs.
                    </p>
            </div>
            <div class="agent-wrapper">
                <img src="../../assets/images/ryan.png">
                <h3>Ryan</h3>
                <div class="cert-box">
                    <p>California Commission # 2336110</p>
                    <p>Expiration: October 20, 2024</p>
                </div>
            </div>
            <div class="text-wrapper mobile">
                <p>As a San Diego native Ryan likes to spend time by the water. He loves sailing and wakeboarding. Ryan is an avid traveler. 
                    He loves exploring new places and seeing the world. As an aspiring Architect Ryan is attending school full time.
                    When he is not keeping busy with work you can find him enjoying coffee and playing with his dogs.
                    </p>
            </div>
        </div>

        <!-- Lolo -->

        <div class="agent-box">
            <div class="agent-wrapper-inverted">
                <img src="../../assets/images/lolo.png">
                <h3>Laurie</h3>
                <div class="cert-box">
                    <p>California Commission # 2343335</p>
                    <p>Expiration: January 25, 2025</p>
                </div>
            </div>
            <div class="text-wrapper" style="margin-right: 0px">
                <p>Laurie is a California Native. She loves camping and going for hikes with her dogs. Laurie loves to go to concerts and enjoy live music. 
                    When she is not keeping busy with work you can find her spending time with her family.
                    </p>
            </div>
        </div>
    </section>

    <div class="titlebar">
        <h2>Schedule Appointment</h2>
    </div>
    <section>
      
    </section>
</div>/

